body {
    text-align: center;
    font-family: Arial, sans-serif;
}

table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    margin-top: 20px;
    padding: 10px 25vw;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#averageAge {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}